@import 'fonts';
@import 'variables';
@import 'mixins';

// Styles
body {
   font-family: 'Montserrat', sans-serif;
}

.custom {
   background-image: url('../assets/bg.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top;
   height: 1100px;

   nav {
      .navbar-brand {
         font-size: 1.3rem;
         font-weight: 700;
      }

      #navbarNav {
         font-size: 1rem;
         font-weight: 600;

         .nav-center {
            margin-left: 75%;

            .nav-link {
               color: white;
            }
         }
         .nav-btn {
            .nav-link {
               color: white;
            }
            button {
               @include button;
            }
         }
      }

      @media screen and (max-width: $lg) {
         background-image: linear-gradient(170deg, $primaryColor 0%, #0B69E8 30%, $secondaryColor 80%);

         #navbarNav {
            text-align: center;

            .nav-center {
               margin-left: 0;
            }

            .nav-btn {
               button {
                  @include button;
                  padding: 10px 0 10px 0;
               }
            }
         }
      }
   }

   .navbar.scrolled {
      background-image: linear-gradient(170deg, $primaryColor 0%, #0B69E8 30%, $secondaryColor 80%) !important;
      transition: all 1s;
   }

   .dash {
      padding-top: 7rem;

      .dash-text {
         padding-top: 11rem;
      }

      .col-lg-6 {
         color: white;

         h1 {
            font-size: 56px;
            font-weight: 700;
            line-height: 65px;
            margin-bottom: 2rem;
         }

         p {
            width: 80%;
            font-size: 30px;
            font-weight: 400;
            line-height: 35px;
            margin-bottom: 2.5rem;
         }

         button {
            @include button;
            padding: 10px 25px 10px 25px;
         }
   
         img {
            width: 600px;
         }
      }

      @media (max-width: $lg) {
         padding-top: 12rem;

         .dash-text {
            padding-top: 7rem;
         }

         .col-lg-6 {
            h1 {
               font-size: 30px;
               line-height: 40px;
               margin-bottom: 1.2rem;
            }

            p {
               font-size: 16px;
               line-height: 22px;
               margin-bottom: 1.4rem;
            }

            button {
               font-size: 0.8rem;
               padding: 7px 15px 7px 15px;
            }

            img {
               width: 370px;
            }
         }
      }

      @media (max-width: $md) {
         padding-top: 16rem;

         .dash-text {
            padding-top: 6rem;
         }
         
         .col-lg-6 {
            width: 50%;
            h1 {
               font-size: 24px;
               line-height: 30px;
               margin-bottom: 1rem;
            }

            p {
               font-size: 14px;
               line-height: 18px;
               margin-bottom: 1.1rem;
            }

            img {
               width: 290px;
            }
         }
      }

      @media (max-width: $sm) {
         padding-top: 11.5rem;

         .dash-text {
            padding-top: 0;
         }

         .col-lg-6 {
            text-align: center;
            width: 100%;

            p {
               width: 100%;
               font-size: 18px;
               line-height: 23px;
               margin-bottom: 1.1rem;
            }

            button {
               margin-bottom: 2rem;
            }

            img {
               width: 290px;
            }
         }
      }
   }

   @media (max-width: $lg) {
      width: 100%;
      height: 1000px;
      background-position: right;
   }
}

.shortcut {
   margin-top: -13rem;
   padding-top: 20rem;

   h1 {
      font-weight: 600;
      font-size: 40px;
      text-align: center;
      padding-bottom: 2rem;
   }

   .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      width: 90%;

      img {
         opacity: 50%;
         width: 18%;
         margin-left: auto;
         margin-right: auto;
         padding-left: 30px;
         padding-right: 30px;
      }
   }

   @media (max-width: $lg) {
      margin-top: -12rem;
      padding-top: 10rem;

      h1 {
         font-size: 25px;
      }

      .grid-container {
         img {
            width: 30%;
         }
      }
   }
}

.why-we {
   margin-top: 0.1rem;
   padding-top: 7rem;

   .col-lg-7 {
      max-height: 460px;

      img {
         width: 85%;
         border-radius: 8px;
         position: relative;
         z-index: 1;
      }

      .frame {
         width: 84%;
         height: 422px;
         border-radius: 8px;
         background-image: linear-gradient(150deg, $secondaryColor 40%, $primaryColor 100%);
         position: relative;
         top: -25.1rem;
         left: 1.7rem;
      }
   }

   .col-lg-5 {
      align-self: center;

      h1 {
         color: $primaryColor;
         font-weight: 600;
         font-size: 37px;
         margin-bottom: 1.5rem;
      }

      em {
         font-weight: 500;
         font-size: 29px;
         line-height: 34px;
      }

      h3 {
         color: $textColor;
         font-weight: 600;
         font-size: 29px;
         margin-top: 5rem;
      }

      p {
         font-weight: 500;
         font-size: 23px;
      }
   }

   @media (max-width: $lg) {
      padding-top: 5rem;

      .col-lg-7 {
         max-height: 255px;

         .frame {
            height: 222px;
            top: -13.1rem;
            left: 1rem;
         }
      }

      .col-lg-5 {
         h1 {
            font-size: 23px;
            margin-bottom: 1rem;
         }

         em {
            font-size: 16px;
            line-height: 20px;
         }

         h3 {
            font-size: 18px;
            margin-top: 2rem;
         }

         p {
            margin-top: -0.5rem;
            font-size: 14px;
         }
      }
   }

   @media (max-width: $md) {
      .col-lg-7 {
         img {
            width: 97%;
         }

         .frame {
            width: 96%;
            height: 130%;
            top: -20rem;
         }
      }

      .col-lg-5 {
         padding-top: 8rem;
         text-align: center;
      }
   }

   @media (max-width: $sm) {
      .col-lg-7 {
         .frame {
            height: 108%;
            top: -16.5rem;
         }
      }

      .col-lg-5 {
         padding-top: 6rem;
      }
   }
}

.what-can-do {
   padding-top: 7rem;

   h1 {
      font-weight: 600;
      font-size: 40px;
      text-align: center;
      margin-bottom: 3rem;
   }

   .col-lg-5 {
      align-self: center;

      h2 {
         color: $primaryColor;
         font-weight: 600;
         font-size: 37px;
         margin-bottom: 1.5rem;
      }
   
      p {
         width: 80%;
         font-weight: 400;
         font-size: 27px;
         line-height: 34px;
         margin-bottom: 1.5rem;
      } 
   
      a {
         text-decoration: none;
         font-weight: 600;
         font-size: 25px;
         color: $textColor;

         i {
            margin-left: 1rem;
         }
      }
   }

   img {
      width: 100%;
   }

   @media (max-width: $lg) {
      padding-top: 3rem;

      h1 {
         font-size: 25px;
         margin-bottom: 1.5rem;
      }

      .col-lg-5 {
         h2 {
            font-size: 23px;
            margin-bottom: 1rem;
         }

         p {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 1rem;
         }

         a {
            font-size: 14px;

            i {
               margin-left: 0.3rem;
            }
         }
      }
   }

   @media (max-width: $md) {
      padding-top: 4rem;

      .col-lg-5 {
         text-align: center;

         h2 {
            margin-top: 0.5rem;
         }

         p {
            width: 100%;
         }
      }
   }
}

.email {
   padding-top: 7rem;
   padding-bottom: 8rem;
   text-align: center;

   h1 {
      font-weight: 600;
      font-size: 40px;
   }

   p {
      font-weight: 400;
      font-size: 27px;
      margin-bottom: 1rem;
   }

   .input-group {
      width: 47%;
      height: 55px;
      margin: auto;

      #email {
         margin-right: 0.6rem;
      }

      .btn {
         @include button;
         background-color: #0D51E4 !important;
         &:hover {
            background-color: $secondaryColor !important;
         }
      }
   }

   @media (max-width: $lg) {
      h1 {
         font-size: 25px;
      }

      p {
         font-size: 16px;
      }

      .input-group {
         width: 80%;
      }
   }

   @media (max-width: $sm) {
      .input-group {
         width: 95%;
      }
   }
}

footer {
   width: 100%;
   height: auto;
   color: white;
   padding: 3rem;
   background-image: linear-gradient(150deg, #0D51E4 0%, #072376 85%, #072171 100%);

   .sosmed {
      font-size: 23px;
      font-weight: 600;

      p {
         width: 65%;
      }

      i {
         background-color: white;
         color: black;
         width: 40px;
         height: 40px;
         border-radius: 50%;
         margin: 10px 8px;
         font-size: 28px;
         text-align: center;
         padding-top: 6px;
      }

      h6 {
         margin-top: 1.5rem;
      }
   }

   .features,
   .company {
      ul {
         font-size: 23px;
         font-weight: 600;
         line-height: 45px;

         li {
            font-size: 18px;
            font-weight: 500;

            a{
               text-decoration: none;
               color: white;
            }
         }
      }
   }

   @media (max-width: $lg) {
      .sosmed {
         text-align: center;
         font-size: 20px;

         p {
            width: 100%;
         }
      }

      .features,
      .company {
         margin-top: 30px;

         ul {
            font-size: 20px;

            li {
               font-size: 16px;
            }
         }
      }

      .company {
         text-align: right;
      }
   }
}

/* Back to top */
#back-to-top-btn {
   display: none;
   position: fixed;
   bottom: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   font-size: large;
   background-color: $primaryColor;
   cursor: pointer;
   outline: none;
   box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
   color: #ffffff;
   border: none;
   border-radius: 50%;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
   transition-property: background-color, color;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
   background-color: $secondaryColor;
   color: #fff;
}

.btnEntrance {
   animation-duration: 0.5s;
   animation-fill-mode: both;
   animation-name: btnEntrance;
}

@keyframes btnEntrance {
   from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   }

   to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
   }
}

.btnExit {
   animation-duration: 0.25s;
   animation-fill-mode: both;
   animation-name: btnExit;
}

@keyframes btnExit {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
   }
}

@media screen and (max-width: 460px) {
   #back-to-top-btn {
      bottom: 25px;
      right: 15px;
      width: 40px;
      height: 40px;
      font-size: small;
   }
}